In [4]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'foo': ['A','B'],
               'bar': ['1', '2'],
               'baz': [np.nan, '3']})
df

  foo bar  baz
0   A   1  NaN
1   B   2    3

In [5]:
pd.melt(df, id_vars='foo', value_vars=['bar','baz'], var_name='type')

  foo type value
0   A  bar     1
1   B  bar     2
2   A  baz   NaN
3   B  baz     3